{% block footer %}
<div class="p-4 footer">
 <p>Copyright &copy; GatoFTP / WoogeDevs, Code Is Licensed under the MIT license</p>
 <p><a href="/tos">TOS</a> | <a href="/pripol">Privacy Policy</a> | <a href="/">Source Code</a><p>
</div>
{% endblock %}