{% extends "./base.twig" %}

{% block main %}
<div class="login-page">
    <h2>Login</h2>
     <p><a href="signup">Don't have a account yet?</a></p>
     <hr>
    <span class="text">
        <form action="/login" method="POST">
            <span class="text-form">
            <b>Username:</b>
            This is case sensitive. 
            </span>
            <br>
            <input type="text" name="rocks-username" placeholder="johncar96" class="generic-input"><br>
            <span class="text-form">
              <b>Password:</b><br>
                </span>
                <input type="password" name="rocks-password" placeholder="the password" class="generic-input"><br><br>
                <button type="submit button" class="btn btn-primary btn-sm">Login</button>
        </form>
    </span>
    </div>
{% endblock %}