{% extends "./base.twig" %}

{% block main %}
  <div class="logout-page">
      <h2>Are you sure you want to logout?</h2>
      <hr>
    <form method="post" action="/logout">
      <button type="submit button" class="btn btn-primary btn-sm">yes log me out</button>
    </form>
  </div>
{% endblock %}